header{
    width: 100%;
    height: 6rem;
    padding: 0rem 5rem;
    border-bottom: 0.1rem solid rgb(150, 150, 150);
}

.ico{
    width: 4rem;
    float: left;
    margin-top: 1rem;
}

.usuario {
    color: rgb(34, 34, 34);
    font-size: 2.3rem;
    font-weight: 600;
    float: left;
    margin-left: 1rem;
    margin-top: 1.6rem;
}

.contenido{
    width: 100rem;
    height: 100vh;
    padding: 2rem;

    margin: auto;
}

.lista-propiedades {
    list-style:none;
    font-size: 1,8rem;
    float: left;
}

.lista-propiedades li{
    width: 23rem;
    border-left: 2px solid black;

    margin: 1rem 0rem;
    padding: 0.5rem;
    transform: 0.3s;  
    cursor: pointer;  
}

.lista-propiedades li:hover{
    background-color: rgb(216, 171, 25);
    border-left: 5px solid black;
    transition: 0.3s;
    cursor: pointer;
}

.articulo {
    padding: 2rem;
    width: 70rem;
    height: 100lvh;
    float: right;

}

.articulo h2{
    font-size: 3rem;
    text-align: center;
}

.descripccion {
    font-size: 1.8rem;
    margin-top: 2rem;
}

/* SECCION DE LA TABLA */
.tabla {
    width: 80%;

    margin: auto;
    margin-top: 5rem;
}

.tabla tr td {
    padding: 0.5rem;
}

.titulo-tabla {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.campos {
    font-size: 1.6rem;
    font-weight: 600;
}